/* src/styles/utility.css */

:root {
  /* ----------------------------------------- */
  /*             UTILITY - ALPHA               */
  /* ----------------------------------------- */
  
  /* Alpha White */
  --utility-alpha-white-10: var(--primitives-alpha-white-10);
  --utility-alpha-white-20: var(--primitives-alpha-white-20);
  --utility-alpha-white-30: var(--primitives-alpha-white-30);
  --utility-alpha-white-40: var(--primitives-alpha-white-40);
  --utility-alpha-white-50: var(--primitives-alpha-white-50);
  --utility-alpha-white-60: var(--primitives-alpha-white-60);
  --utility-alpha-white-70: var(--primitives-alpha-white-70);
  --utility-alpha-white-80: var(--primitives-alpha-white-80);
  --utility-alpha-white-90: var(--primitives-alpha-white-90);
  --utility-alpha-white-100: var(--primitives-alpha-white-100);

  /* Alpha Black */
  --utility-alpha-black-10: var(--primitives-alpha-black-10);
  --utility-alpha-black-20: var(--primitives-alpha-black-20);
  --utility-alpha-black-30: var(--primitives-alpha-black-30);
  --utility-alpha-black-40: var(--primitives-alpha-black-40);
  --utility-alpha-black-50: var(--primitives-alpha-black-50);
  --utility-alpha-black-60: var(--primitives-alpha-black-60);
  --utility-alpha-black-70: var(--primitives-alpha-black-70);
  --utility-alpha-black-80: var(--primitives-alpha-black-80);
  --utility-alpha-black-90: var(--primitives-alpha-black-90);
  --utility-alpha-black-100: var(--primitives-alpha-black-100);

  /* Alpha Grey */
  --utility-alpha-grey-10: var(--primitives-gray-tint-25);
  --utility-alpha-grey-20: var(--primitives-gray-tint-50);
  --utility-alpha-grey-30: var(--primitives-gray-tint-100);
  --utility-alpha-grey-40: var(--primitives-gray-tint-200);
  --utility-alpha-grey-50: var(--primitives-gray-tint-300);
  --utility-alpha-grey-60: var(--primitives-gray-tint-400);
  --utility-alpha-grey-70: var(--primitives-gray-tint-500);
  --utility-alpha-grey-80: var(--primitives-gray-tint-600);
  --utility-alpha-grey-90: var(--primitives-gray-tint-700);
  --utility-alpha-grey-100: var(--primitives-gray-tint-800);
}
