/* src/features/Overlays/ManualCheckSelectorSheet.module.css */

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 65vh;
  max-height: 700px;
}

.searchContainer {
  padding: var(--spacing-4);
  flex-shrink: 0;
  border-top: 1px solid var(--surface-border-secondary);
  margin: 0 calc(-1 * var(--spacing-4));
  padding-top: var(--spacing-4);
}

.listContainer {
  flex-grow: 1;
  min-height: 0;
  border-top: 1px solid var(--surface-border-secondary);
}