/* src/features/Overlays/WriteNfcTagModal.module.css */
.contentWrapper {
display: flex;
flex-direction: column;
height: 65vh;
max-height: 700px;
}
.searchContainer {
padding: var(--spacing-4) var(--spacing-4) var(--spacing-4);
flex-shrink: 0;
border-top: 1px solid var(--surface-border-secondary);
margin: 0 calc(-1 * var(--spacing-4));
padding-top: var(--spacing-4);
}
.listContainer {
flex-grow: 1;
min-height: 0;
border-top: 1px solid var(--surface-border-secondary);
}
/* For NfcRoomListItem */
.listItemContent {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.listItemTitle {
font-size: 0.95rem;
font-weight: 500;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.successIcon {
color: var(--surface-fg-success-primary);
font-variation-settings: 'FILL' 1;
}