/* src/components/Switch.module.css */

.switchRoot {
  width: 36px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
  flex-shrink: 0;
  box-sizing: border-box;
  
  /* Off, Rest state for the container */
  border: 1px solid var(--control-border-tertiary);
  background: var(--control-bg-secondary);
}

@media (hover: hover) {
  .switchRoot:hover:not([data-state='checked']) {
    border-color: var(--control-border-tertiary-hover);
    background-color: var(--control-bg-secondary-hover);
  }
  .switchRoot[data-state='checked']:hover {
    background-color: var(--control-bg-theme-hover);
  }
  .switchRoot:disabled:hover {
    border-color: var(--control-border-tertiary);
  }
}

.switchRoot[data-state='checked'] {
  background-color: var(--control-bg-theme);
  border-color: transparent; /* Remove border in 'on' state */
}

.switchThumb {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  background-color: var(--surface-bg-secondary-solid);
  box-shadow: var(--surface-shadow-sm);
  transform: translateX(2px); /* Off position */
}

.switchThumb[data-state='checked'] {
  transform: translateX(18px); /* On position */
  background-color: var(--primitives-base-white);
}

.switchRoot:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--surface-bg-tertiary);
  border-color: var(--control-border-tertiary);
}
.switchRoot:disabled .switchThumb {
  background-color: var(--surface-bg-secondary-solid);
}