/* src/layouts/MainLayout.module.css */

.filmStripContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--surface-bg-secondary);
}

.filmStripTrack {
  display: flex;
  height: 100%;
  width: 200%;
  /* For two panels */
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.viewPanel {
  width: 50%;
  /* Each panel is a half of the filmstrip */
  height: 100%;
  flex-shrink: 0;
  position: relative;
  /* Ensure the panel itself doesn't scroll, the child ScheduleView does */
  overflow: hidden;
}